<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="layouts/admin/layoutAdmin"
      layout:decorator="layouts/admin/layoutAdmin :: content, layouts/admin/layoutAdmin :: css_head, layouts/admin/layoutAdmin :: js_foot">
<head>
  <meta charset="UTF-8">
  <!-- Link CSS ở đây -->
  <th:block layout:fragment="css_head">
    <title> Product - Edit | Mike </title>
    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/css/pages/quill-validate.css}" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/bootstrap-select/bootstrap-select.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/select2/select2.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/flatpickr/flatpickr.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/typeahead-js/typeahead.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/tagify/tagify.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css}" />

    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/dropzone/dropzone.css}" />

    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/quill/typography.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/quill/katex.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/quill/editor.css}" />
    <!--/ Vendors CSS -->

    <!-- Page CSS -->

  </th:block>
</head>
<body>

<!-- Gọi layout cha -->
<th:block layout:fragment="content">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light">Product /</span> Add Product
    </h4>
    <form id="myForm" class="needs-validation" novalidate enctype="multipart/form-data"
          th:action="@{/mike/api/product/add}" th:object="${product}" method="post">
      <div class="row mb-4">
        <!-- Bootstrap Validation -->
        <div class="col-md-8 col-12">
          <div class="card mb-4">
            <h5 class="card-header fw-bold">Information</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-12 mb-3">
                  <label class="form-label" for="bs-validation-name">Name</label>
                  <input type="text" class="form-control" id="bs-validation-name"
                    th:value="${products.name}"
                    placeholder="John Doe" name="name" required />
                  <div class="valid-feedback"> Looks good! </div>
                  <div class="invalid-feedback"> Please enter your name. </div>
                </div>

                <div class="col-12 col-md-12 mb-3">
                  <label class="form-label">Descriptions</label>
                  <div class="p-0 mt-1">
                    <div id="full-editor" class="ql-full h-px-300" th:utext="${products.descriptions}">
                      <!--text-->
                    </div>
                  </div>
                  <div class="valid-feedback"> Looks good! </div>
                  <div class="invalid-feedback"> Please enter your descriptions. </div>
                </div>

                <div class="col-12 col-md-12 mb-3">
                  <label class="form-label" for="bs-validation-urlAvatar">Upload Avatar</label>
                  <div class="dropzone needsclick dropzone-single-upload" data-name="avatar" th:data-image-name="${products.avatar}">
                    <div class="dz-message needsclick">
                      Drop files here or click to upload
                      <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                    </div>
                    <div class="fallback">
                      <input class="form-control" id="bs-validation-urlAvatar" name="file" type="file" multiple required/>
                    </div>
                  </div>

                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Please select a file to upload avatar.</div>
                  <button type="button" id="reset-avatar" class="btn btn-secondary btn-sm mt-3">Reset avatar</button>
                </div>

              </div>
            </div>
          </div>
          <div class="card mb-4">
            <h5 class="card-header fw-bold">Variants</h5>
            <div class="card-body">
              <div class="mb-3" th:each="productDetail : ${productDetails}">
                  <div class="d-flex border rounded position-relative pe-0">
                    <div class="row w-100 m-0 p-3">

                      <div class="mb-3 mb-md-1 col-12 col-md-6">
                          <label class="form-label" th:for="${'color-' + productDetail.color.id}">Color</label>
                          <input th:id="${'color-' + productDetail.color.id}"
                                class="form-control readonlyMix tagify-readonly"
                                th:name="${'color-' + productDetail.color.id}" readonly
                                th:value="${productDetail.color.name}" />
                      </div>
                      
                      <div class="mb-3 col-12 col-md-6">
                          <label class="form-label" th:for="${'size-' + productDetail.color.id}">Size</label>
                          <input th:id="${'size-' + productDetail.color.id}"
                                class="form-control readonlyMix tagify-readonly"
                                th:name="${'size-' + productDetail.color.id}" readonly
                                th:value="${#strings.arrayJoin(productDetail?.sizes.![name], ',')}"/>
                      </div>
                      
                      <div class="mb-3 mb-md-1 col-12 col-md-6">
                          <label class="form-label" th:for="${'importPrice-' + productDetail.color.id}">Import price</label>
                          <input th:id="${'importPrice-' + productDetail.color.id}"
                                class="form-control readonlyMix tagify-readonly"
                                th:name="${'importPrice-' + productDetail.color.id}" readonly
                                th:value="${productDetail.importPrice}" />
                      </div>
                      
                      <div class="mb-2 col-12 col-md-6">
                          <label class="form-label" th:for="${'exportPrice-' + productDetail.color.id}">Export price</label>
                          <input th:id="${'exportPrice-' + productDetail.color.id}"
                                class="form-control readonlyMix tagify-readonly"
                                th:name="${'exportPrice-' + productDetail.color.id}" readonly
                                th:value="${productDetail.exportPrice}" />
                      </div>
                      
                      <div class="mb-3 col-12 col-md-6">
                          <label class="form-label" th:for="${'discountPercent-' + productDetail.color.id}">Discount Percent</label>
                          <input th:id="${'discountPercent-' + productDetail.color.id}"
                                class="form-control readonlyMix tagify-readonly"
                                th:name="${'discountPercent-' + productDetail.color.id}" readonly
                                th:value="${productDetail.discountPercent}" />
                      </div>
                      
                      <div class="mb-3 col-12 col-md-6">
                          <label class="form-label" th:for="${'productDetailStatus-' + productDetail.color.id}">Status</label>
                          <input th:id="${'productDetailStatus-' + productDetail.color.id}"
                                class="form-control readonlyMix tagify-readonly"
                                th:name="${'productDetailStatus-' + productDetail.color.id}" readonly
                                th:value="${productDetail.productDetailStatus}" />
                      </div>                      

                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-between border-start p-2">
                      <div class="dropdown dropstart">
                        <i class="bx bx-x fs-4 text-muted cursor-pointer" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-bs-auto-close="outside"></i>
                        <div class="dropdown-menu dropdown-menu-end w-px-250 p-3" >
                          <div class="alert-icon mt-2 d-flex justify-content-center">
                            <i class='bx bx-error-circle text-warning' style='font-size:40px;'></i>
                          </div>
                          <h5 class="mt-2 mb-3 text-center">Are you sure?</h5>
                          <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-sm btn-primary mx-1" data-repeater-delete>Remove</button>
                            <button type="button" class="btn btn-sm btn-label-secondary mx-1">Close</button>
                          </div>
                        </div>
                      </div>
                      <div class="">
                        <button type="button" class="btn btn-sm rounded-pill btn-icon btn-label-primary mb-1 btn-modal-dropzone"
                                data-bs-toggle="modal" data-bs-target="#modal-repeater-1-1">
                          <span class="tf-icons bx bx-plus"></span>
                        </button>
                        <div class="modal animate__animated animate__fadeInDown modal-dropzone" id="modal-repeater-1-1" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Add Images</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <div class="dropzone needsclick dropzone-multiple" id="dropzone-basic-1-1">
                                  <div class="dz-message needsclick my-5">
                                    <p class="fs-4 note needsclick my-2">Drag and drop your image here</p>
                                    <small class="text-muted d-block fs-6 my-2">or</small>
                                    <span class="note needsclick btn bg-label-primary d-inline">Browse image</span>
                                  </div>
                                  <div class="fallback d-none">
                                    <input name="file" type="file" />
                                  </div>
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please select a file to upload images.</div>
                              </div>
                              <div class="modal-footer">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <th:block th:if="${not #lists.isEmpty(colors)}">
                <div class="d-flex justify-content-start align-items-center mb-3 gap-3 flex-wrap">

                  <div class="dropdown d-flex flex-column">
                    <button class="btn btn-primary btn-sm" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-bs-auto-close="outside">Set size</button>
                    <div class="dropdown-menu w-px-250 p-3" >
                      <div class="dropdown-item p-2 pb-3">
                        <label class="form-label ps-1" for="all-import-price">Set all size
                        </label>
                        <div class="row w-100 m-0">
                          <div class="col-8 ps-1 pe-2">
                            <select id="all-size" class="select2 form-select prevent-validate" multiple
                                    data-placeholder="Select size"
                                    data-name="all-size"
                                    name="all-size">
                              <option value="">Select Size</option>
                              <option th:each="size : ${sizes}" th:value="${size.id}" th:text="${size.name}"></option>
                            </select>
                          </div>
                          <div class="col-4 p-0">
                            <div class="d-flex justify-content-center align-items-center h-100 w-100">
                              <button type="button" class="btn btn-primary btn-sm" id="btn-all-size">Apply
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown d-flex flex-column">
                    <button class="btn btn-primary btn-sm" data-bs-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false" data-bs-auto-close="outside">Set Price</button>
                    <div class="dropdown-menu w-px-250 p-3">
                      <div class="dropdown-item p-2 pb-3">
                        <label class="form-label ps-1" for="all-import-price">Set all import Price
                        </label>
                        <div class="row w-100 m-0">
                          <div class="col-8 ps-1 pe-2">
                            <input type="number" class="form-control border-primary" id="all-import-price"
                                  placeholder="0.0" min="0.0" step="0.1"
                                  pattern="^\d+(\.\d+)?$">
                          </div>
                          <div class="col-4 p-0">
                            <div class="d-flex justify-content-center align-items-center h-100 w-100">
                              <button type="button" class="btn btn-primary btn-sm" id="btn-all-import-price">Apply
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-item p-2 pb-3">
                        <label class="form-label ps-1" for="all-export-price">Set all export Price
                        </label>
                        <div class="row w-100 m-0">
                          <div class="col-8 ps-1 pe-2">
                            <input type="number" class="form-control border-primary" id="all-export-price"
                                  placeholder="0.0" min="0.0" step="0.1"
                                  pattern="^\d+(\.\d+)?$">
                          </div>
                          <div class="col-4 p-0">
                            <div class="d-flex justify-content-center align-items-center h-100 w-100">
                              <button type="button" class="btn btn-primary btn-sm" id="btn-all-export-price">Apply
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown d-flex flex-column">
                    <button class="btn btn-primary btn-sm" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-bs-auto-close="outside">Set discount</button>
                    <div class="dropdown-menu w-px-250 p-3" >
                      <div class="dropdown-item p-2 pb-3">
                        <label class="form-label ps-1" for="all-import-price">Set all discount
                        </label>
                        <div class="row w-100 m-0">
                          <div class="col-8 ps-1 pe-2">
                            <input type="number" class="form-control border-primary input-discount" id="all-discount"
                                  placeholder="0.0" min="0.0" max="100.0" step="0.1"
                                  pattern="^\d+(\.\d+)?$">
                          </div>
                          <div class="col-4 p-0">
                            <div class="d-flex justify-content-center align-items-center h-100 w-100">
                              <button type="button" class="btn btn-primary btn-sm" id="btn-all-discount">Apply
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="form-repeater">
                  <div data-repeater-list="group-a">
                    <div class="repeater-wrapper mb-3" data-repeater-item>
                      <div class="d-flex border rounded position-relative pe-0">
                        <div class="row w-100 m-0 p-3">
                          <div class="mb-3 mb-md-1 col-12 col-md-6">
                            <label class="form-label" for="form-repeater-1-1">Color</label>
                            <select id="form-repeater-1-1" class="select2 form-select"
                                    data-allow-clear="true"
                                    data-placeholder="Select Color"
                                    data-name="color"
                                    name="color" required>
                              <option value="">Select Color</option>
                              <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.name}"></option>
                            </select>
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback"> Please select your color. </div>
                          </div>

                          <div class="mb-3 col-12 col-md-6">
                            <label class="form-label" for="form-repeater-1-2">Size</label>
                            <select id="form-repeater-1-2" class="select2 form-select" multiple
                                    data-placeholder="Select size"
                                    data-name="size"
                                    name="size" required>
                              <option value="">Select Size</option>
                              <option th:each="size : ${sizes}" th:value="${size.id}" th:text="${size.name}"></option>
                            </select>
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback"> Please select your sizes. </div>
                          </div>

                          <div class="mb-3 mb-md-1 col-12 col-md-6">
                            <label class="form-label" for="form-repeater-1-3">Import price</label>
                            <input type="number" class="form-control" id="form-repeater-1-3"
                                  placeholder="0.0" name="importPrice" min="0.0" step="0.1"
                                  data-name="importPrice"
                                  pattern="^\d+(\.\d+)?$" required />
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback"> Please enter a valid import price. </div>
                          </div>

                          <div class="mb-2 col-12 col-md-6">
                            <label class="form-label" for="form-repeater-1-4">Export price</label>
                            <input type="number" class="form-control" id="form-repeater-1-4"
                                  placeholder="0.0" name="exportPrice" min="0.0" step="0.1"
                                  data-name="exportPrice"
                                  pattern="^\d+(\.\d+)?$" required />
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback"> Please enter a valid export price. </div>
                          </div>

                          <div class="mb-3 col-12 col-md-6">
                            <label class="form-label" for="form-repeater-1-5">Discount Percent</label>
                            <input type="number" class="form-control input-discount" id="form-repeater-1-5"
                                  placeholder="0.0" name="discountPercent" min="0.0" max="100.0" step="0.1"
                                  data-name="discountPercent"
                                  th:value="0.0"
                                  pattern="^\d+(\.\d+)?$" required />
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback"> Please enter a valid discount percent(0.0-100.0). </div>
                          </div>

                          <div class="mb-3 col-12 col-md-6">
                            <label class="form-label" for="form-repeater-1-6">Status</label>
                            <select id="form-repeater-1-6" class="select2 form-select"
                                    data-allow-clear="true"
                                    data-placeholder="Select status"
                                    data-name="productDetailStatus"
                                    name="productDetailStatus" required>
                              <option value="">Select status</option>
                              <option th:each="item : ${productDetailStatus}" th:value="${item}" th:text="${item}" th:selected="${item.name == 'ACTIVE'}"></option>
                            </select>
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback"> Please select your status. </div>
                          </div>

                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-between border-start p-2">
                          <div class="dropdown dropstart">
                            <i class="bx bx-x fs-4 text-muted cursor-pointer" data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false" data-bs-auto-close="outside"></i>
                            <div class="dropdown-menu dropdown-menu-end w-px-250 p-3" >
                              <div class="alert-icon mt-2 d-flex justify-content-center">
                                <i class='bx bx-error-circle text-warning' style='font-size:40px;'></i>
                              </div>
                              <h5 class="mt-2 mb-3 text-center">Are you sure?</h5>
                              <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-sm btn-primary mx-1" data-repeater-delete>Remove</button>
                                <button type="button" class="btn btn-sm btn-label-secondary mx-1">Close</button>
                              </div>
                            </div>
                          </div>
                          <div class="">
                            <button type="button" class="btn btn-sm rounded-pill btn-icon btn-label-primary mb-1 btn-modal-dropzone"
                                    data-bs-toggle="modal" data-bs-target="#modal-repeater-1-1">
                              <span class="tf-icons bx bx-plus"></span>
                            </button>
                            <div class="modal animate__animated animate__fadeInDown modal-dropzone" id="modal-repeater-1-1" tabindex="-1" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Add Images</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="dropzone needsclick dropzone-multiple" id="dropzone-basic-1-1">
                                      <div class="dz-message needsclick my-5">
                                        <p class="fs-4 note needsclick my-2">Drag and drop your image here</p>
                                        <small class="text-muted d-block fs-6 my-2">or</small>
                                        <span class="note needsclick btn bg-label-primary d-inline">Browse image</span>
                                      </div>
                                      <div class="fallback d-none">
                                        <input name="file" type="file" />
                                      </div>
                                    </div>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">Please select a file to upload images.</div>
                                  </div>
                                  <div class="modal-footer">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <button type="button" class="btn btn-primary btn-sm" data-repeater-create>
                      Add detail
                    </button>
                  </div>
                </div>
              </th:block>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card mb-4">
            <h5 class="card-header fw-bold">Category</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-12 mb-3">
                  <label for="bs-validation-ocate" class="form-label">Object Category</label>
                  <select id="bs-validation-ocate" class="select2 form-select"
                          data-allow-clear="true" name="objectCategory"
                          data-placeholder="Select value" required>
                    <option value="">Select value</option>
                    <option th:each="item : ${objectCates}"
                        th:selected="${item.id == products.objectCategory.id}" 
                        th:value="${item.id}" 
                        th:text="${item.name}">
                    </option>
                  </select>
                  <div class="valid-feedback"> Looks good! </div>
                  <div class="invalid-feedback"> Please select your object category</div>
                </div>

                <div class="col-12 mb-3">
                  <label for="bs-validation-pcate" class="form-label">Product Category</label>
                  <select id="bs-validation-pcate" class="select2 form-select"
                          data-allow-clear="true" name="productCategory" required>
                    <option value="">Select value</option>
                    <option th:each="item : ${productCates}" 
                        th:selected="${item.id == products.productCategory.id}" 
                        th:value="${item.id}" 
                        th:text="${item.name}">
                    </option>
                  </select>
                  <div class="valid-feedback"> Looks good! </div>
                  <div class="invalid-feedback"> Please select your product category</div>
                </div>

                <div class="col-12 mb-3">
                  <label for="bs-validation-size-img" class="form-label">Size Table Category</label>
                  <select id="bs-validation-size-img" class="select2 form-select"
                          data-allow-clear="true" name="sizeImage" required>
                    <option value="">Select value</option>
                    <option th:each="item : ${sizeImages}" 
                        th:selected="${item.id == products.sizeImage.id}" 
                        th:value="${item.id}" 
                        th:text="${item.name}">
                    </option>
                  </select>
                  <div class="valid-feedback"> Looks good! </div>
                  <div class="invalid-feedback"> Please select your size table category</div>
                </div>

              </div>
            </div>
          </div>

          <div class="card mb-4">
            <h5 class="card-header fw-bold">Organize</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-12 mb-3 ">
                  <label for="bs-validation-pstatus" class="form-label">Product Status</label>
                  <select id="bs-validation-pstatus" class="select2 form-select"
                          data-allow-clear="true" name="productStatus" required>
                    <option value="">Select value</option>
                    <option th:each="item : ${productStatus}" 
                        th:value="${item}" th:text="${item}" 
                        th:selected="${products.productStatus == item}">
                    </option>
                  </select>
                  <div class="valid-feedback"> Looks good! </div>
                  <div class="invalid-feedback"> Please select your product status.</div>
                </div>

                <div class="col-12 mb-3">
                  <label for="bs-validation-hot-status" class="form-label">Hot Status</label>
                  <select id="bs-validation-hot-status" class="select2 form-select"
                          data-allow-clear="true" name="hotStatus" required>
                    <option value="">Select value</option>
                    <option th:each="item : ${hotStatus}" 
                        th:value="${item}" th:text="${item}" 
                        th:selected="${products.hotStatus == item}">
                    </option>
                  </select>
                  <div class="valid-feedback"> Looks good! </div>
                  <div class="invalid-feedback"> Please select your hot status.</div>
                </div>

                <div class="col-12 mb-3">
                  <label for="bs-validation-bl-status" class="form-label">Best Seller Status</label>
                  <select id="bs-validation-bl-status" class="select2 form-select"
                          data-allow-clear="true" name="bestSellerStatus" required>
                    <option value="">Select value</option>
                    <option th:each="item : ${bestSellerStatus}" 
                        th:value="${item}" th:text="${item}" 
                        th:selected="${products.bestSellerStatus == item}">
                    </option>
                  </select>
                  <div class="valid-feedback"> Looks good! </div>
                  <div class="invalid-feedback"> Please select your best seller status.</div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- /Bootstrap Validation -->
        <div class="col-12 col-md-12 mb-3 mt-3">
          <div class="d-grid d-md-flex">
            <button type="button" id="reset-all" class="btn btn-secondary mb-3 mb-md-0 me-md-3">Reset All</button>
            <button type="submit" class="btn btn-primary">Edit Product</button>
          </div>
        </div>
      </div>
    </form>
    <!-- /FormValidation -->
  </div>
  <!-- / Content -->
</th:block>


<th:block layout:fragment="js_foot">

  <!-- Vendors JS -->
  <script th:src="@{/admin/assets/vendor/libs/select2/select2.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/bootstrap-select/bootstrap-select.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/moment/moment.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/tagify/tagify.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/dropzone/dropzone.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/bloodhound/bloodhound.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/quill/katex.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/quill/quill.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/jquery-repeater/jquery-repeater.js}"></script>

  <!-- Page JS -->
  <script th:src="@{/admin/assets/js/form-validation.js}"></script>
  <script th:src="@{/admin/assets/js/forms-file-upload.js}"></script>
  <script th:src="@{/admin/assets/js/forms-selects.js}"></script>
  <script th:src="@{/admin/assets/js/forms-tagify-readonly.js}"></script>
  <script th:src="@{/admin/assets/js/forms-typeahead.js}"></script>
  <script th:src="@{/admin/assets/js/forms-generate-quill.js}"></script>
  <script th:src="@{/admin/assets/js/forms-validation-select2-custom.js}"></script>
  <script th:src="@{/admin/assets/js/forms-validation-file-upload-custom.js}"></script>
  <script th:src="@{/admin/assets/js/forms-validation-quill-custom.js}"></script>
  <script th:src="@{/admin/assets/js/generate-repeater.js}"></script>
  <script th:src="@{/admin/assets/js/product/set-all-price.js}"></script>
  <script th:src="@{/admin/assets/js/product/product-add-submit.js}"></script>

  <script>
    $(document).ready(function() {
      var btnResetAvatar = $('#reset-avatar');
      var btnResetAll = $('#reset-all');

      btnResetAvatar.click(function() {
        console.log('Reset button clicked');

        var dropzoneElement = $('.dropzone[data-name="avatar"]:first')[0];

        if (dropzoneElement && dropzoneElement.dropzone) {
          var existingDropzone = dropzoneElement.dropzone;

          var fileName = $(dropzoneElement).data('image-name');
          var imageUrlApi = "/mike/api/images/product/" + fileName;

          if (typeof existingDropzone.removeAllFiles === 'function') {
            existingDropzone.removeAllFiles();
            addFileToDropzone(existingDropzone, imageUrlApi, fileName);
          } else {
            console.error('removeAllFiles is not a function on the Dropzone instance.');
          }
        } else {
          console.error('Dropzone instance not found on the element.');
        }
      });

      function addFileToDropzone(dropzone, apiUrl, fileName) {
        fetch(apiUrl)
          .then(response => {
            if (!response.ok) {
              throw new Error(`Failed to fetch file. HTTP status ${response.status}`);
            }
            return response.blob();
          })
          .then(blob => {
            // Convert the Blob to a File
            var file = new File([blob], fileName, { type: blob.type });
    
            // Add the file to Dropzone
            dropzone.addFile(file);
            console.log('File added successfully:', file);
          })
          .catch(error => {
            console.error('Error fetching file from API:', error);
          });
      }

      btnResetAll.click(() => location.reload());

    });
  </script>
</th:block>
</body>
</html>

