<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="layouts/admin/layoutAdmin"
      layout:decorator="layouts/admin/layoutAdmin :: content, layouts/admin/layoutAdmin :: css_head, layouts/admin/layoutAdmin :: js_foot">
<head>
  <meta charset="UTF-8">
  <!-- Link CSS ở đây -->
  <th:block layout:fragment="css_head">
    <title> Product - Add | Mike </title>
    <!-- Vendors CSS -->
    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/bootstrap-select/bootstrap-select.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/select2/select2.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/flatpickr/flatpickr.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/typeahead-js/typeahead.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/tagify/tagify.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css}" />

    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/dropzone/dropzone.css}" />

    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/quill/typography.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/quill/katex.css}" />
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/quill/editor.css}" />
    <!--/ Vendors CSS -->

    <!-- Page CSS -->

  </th:block>
</head>
<body>

<!-- Gọi layout cha -->
<th:block layout:fragment="content">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light">Product /</span> Add Product
    </h4>
    <div class="row mb-4">
      <!-- Bootstrap Validation -->
      <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
        <div class="card">
          <h4 class="card-header fw-bold">Add Product</h4>
          <div class="card-body">
            <form id="myForm" class="needs-validation" novalidate enctype="multipart/form-data"
                  th:action="@{/mike/api/product/add}" th:object="${product}" method="post">
              <div class="mb-3">
                <label class="form-label" for="bs-validation-name">Name</label>
                <input type="text" class="form-control" id="bs-validation-name"
                       placeholder="John Doe" name="name" required />
                <div class="valid-feedback"> Looks good! </div>
                <div class="invalid-feedback"> Please enter your name. </div>
              </div>

              <div class="mb-3 wrapper-select-valid-custom">
                <label for="bs-validation-ocate" class="form-label">Object Category</label>
                <select id="bs-validation-ocate" class="select2 form-select form-select-lg"
                        data-allow-clear="true" name="objectCategory" required>
                  <option value="">Select value</option>
                  <option th:each="item : ${objectCates}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
                <div class="valid-feedback"> Looks good! </div>
                <div class="invalid-feedback"> Please select your object category</div>
              </div>
              <!--bat buoc co:wrapper-select-valid-custom,select2,select-validation-custom,valid-feedback-custom,invalid-feedback-custom-->

              <div class="mb-3 wrapper-select-valid-custom">
                <label for="bs-validation-pcate" class="form-label">Product Category</label>
                <select id="bs-validation-pcate" class="select2 form-select form-select-lg"
                        data-allow-clear="true" name="productCategory" required>
                  <option value="">Select value</option>
                  <option th:each="item : ${productCates}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
                <div class="valid-feedback"> Looks good! </div>
                <div class="invalid-feedback"> Please select your product category</div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="bs-validation-descriptions">Descriptions</label>
                <textarea class="form-control" id="bs-validation-descriptions" rows="3"
                          name="descriptions" required></textarea>
                <div class="valid-feedback"> Looks good! </div>
                <div class="invalid-feedback"> Please enter your descriptions. </div>
              </div>

              <div class="mb-3 wrapper-dropzone-valid-custom">
                <label class="form-label" for="bs-validation-urlAvatar">Upload Avatar</label>
                <div class="dropzone needsclick dropzone-single">
                  <div class="dz-message needsclick">
                    Drop files here or click to upload
                    <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                  </div>
                  <div class="fallback">
                    <input class="form-control" id="bs-validation-urlAvatar" name="file" type="file" multiple required/>
                  </div>
                </div>

                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please select a file to upload avatar.</div>
              </div>

              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-12 invoice-actions">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary d-grid w-100 mb-3" data-bs-toggle="offcanvas"
                    data-bs-target="#sendInvoiceOffcanvas">
                      <span class="d-flex align-items-center justify-content-center text-nowrap"><i
                              class="bx bx-paper-plane bx-xs me-1"></i>Send Invoice</span>
            </button>
            <button class="btn btn-label-secondary d-grid w-100 mb-3">
              Download
            </button>
            <a class="btn btn-label-secondary d-grid w-100 mb-3" target="_blank"
               href="./app-invoice-print.html">
              Print
            </a>
<!--            <a th:href="@{/mike/admin/product/edit/{productId}(productId=${products.id})}"-->
<!--               class="btn btn-label-secondary d-grid w-100 mb-3">-->
<!--              Edit Product-->
<!--            </a>-->
            <button class="btn btn-primary d-grid w-100" data-bs-toggle="offcanvas"
                    data-bs-target="#addPaymentOffcanvas">
                      <span class="d-flex align-items-center justify-content-center text-nowrap"><i
                              class="bx bx-dollar bx-xs me-1"></i>Add Payment</span>
            </button>
          </div>
        </div>
      </div>
      <!-- /Bootstrap Validation -->
    </div>
    <!-- /FormValidation -->
  </div>
  <!-- / Content -->
</th:block>


<th:block layout:fragment="js_foot">

  <!-- Vendors JS -->
  <script th:src="@{/admin/assets/vendor/libs/select2/select2.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/bootstrap-select/bootstrap-select.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/moment/moment.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/tagify/tagify.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/dropzone/dropzone.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/bloodhound/bloodhound.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/quill/katex.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/quill/quill.js}"></script>

  <!-- Page JS -->
  <script th:src="@{/admin/assets/js/form-validation.js}"></script>
  <script th:src="@{/admin/assets/js/forms-file-upload.js}"></script>
  <script th:src="@{/admin/assets/js/forms-selects.js}"></script>
  <script th:src="@{/admin/assets/js/forms-tagify.js}"></script>
  <script th:src="@{/admin/assets/js/forms-typeahead.js}"></script>
  <script th:src="@{/admin/assets/js/forms-editors.js}"></script>
  <script th:src="@{/admin/assets/js/forms-validation-select2-custom.js}"></script>
  <script th:src="@{/admin/assets/js/forms-validation-file-upload-custom.js}"></script>

  <script>

    $(document).ready(function() {
      var myForm = document.getElementById('myForm');

      myForm.addEventListener('submit', function(event) {
        event.preventDefault();

        var dropzoneElement = myForm.querySelector('.dropzone-single');
        var file = dropzoneElement.dropzone.files[0];

        if (file && myForm.checkValidity()) {
          var formData = new FormData(myForm);
          formData.append('avatar', file, file.name);

          var url = myForm.getAttribute('action');

          var accessToken = localStorage.getItem('accessToken');

          $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            headers: {
              "Authorization": "Bearer " + accessToken
            },
            success: function(response) {
              showModal("Add success!", true);
            },
            error: function(xhr, status, error) {
              var errorMessage = "Add error: " + error;
              showModal(errorMessage, false);
            }
          });
        }
      });

      function showModal(message, isSuccess) {
        var modalHeader = $("<div class='modal-header'></div>").append("<h5 class='modal-title'>" + (isSuccess ? "Success" : "Error") + "</h5>");
        var modalBody = $("<div class='modal-body'></div>").text(message);
        var closeButton = $("<button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>");
        var modalFooter = $("<div class='modal-footer'></div>").append(closeButton);
        var modalContent = $("<div class='modal-content'></div>").append(modalHeader, modalBody, modalFooter);
        var modalDialog = $("<div class='modal-dialog' role='document'></div>").append(modalContent);
        var modal = $("<div class='modal fade'></div>").append(modalDialog);

        modal.on("hidden.bs.modal", function() {
          if(isSuccess){
            location.reload();
          }
          modal.remove();
        });

        closeButton.on("click", function() {
          if(isSuccess){
            location.reload();
          }
          modal.modal("hide");
        });

        $("body").append(modal);
        modal.modal("show");
      }
    });

  </script>

</th:block>
</body>
</html>

