<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="layouts/admin/layoutAdmin"
      layout:decorator="layouts/admin/layoutAdmin :: content, layouts/admin/layoutAdmin :: css_head, layouts/admin/layoutAdmin :: js_foot">
<head>
    <meta charset="UTF-8">
    <!-- Link CSS ở đây -->
    <th:block layout:fragment="css_head">
        <title> Product - Edit | Mike </title>
        <!-- Vendors CSS -->
        <!-- Vendors CSS -->
        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/bootstrap-select/bootstrap-select.css}" />
        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/select2/select2.css}" />
        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/flatpickr/flatpickr.css}" />
        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/typeahead-js/typeahead.css}" />
        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/tagify/tagify.css}" />
        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css}" />

        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/dropzone/dropzone.css}" />

        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/quill/typography.css}" />
        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/quill/katex.css}" />
        <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/quill/editor.css}" />
        <!--/ Vendors CSS -->

        <!-- Page CSS -->

    </th:block>
</head>
<body>

<!-- Gọi layout cha -->
<th:block layout:fragment="content">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Product /</span> Edit Product
        </h4>
        <div class="row mb-4">
            <!-- Bootstrap Validation -->
            <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
                <div class="card">
                    <h4 class="card-header fw-bold">Edit Product</h4>
                    <div class="card-body">
                        <form id="myForm" class="needs-validation" novalidate enctype="multipart/form-data"
                              th:action="@{/mike/api/product/edit/} + ${products.id}" th:object="${product}" method="put">
                        <div class="row">
                            <div class="col-12 col-md-12 mb-3">
                                <label class="form-label" for="bs-validation-name">Name</label>
                                <input type="text" class="form-control" id="bs-validation-name"
                                       placeholder="John Doe" name="name" th:value="${products.name}" required />
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback"> Please enter your name. </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 mb-3 wrapper-select-valid-custom">
                                <label for="bs-validation-ocate" class="form-label">Object Category</label>
                                <select id="bs-validation-ocate" class="select2 form-select form-select-lg" data-allow-clear="true" name="objectCategory" required>
                                    <option value="">Select value</option>
                                    <option th:each="item : ${objectCates}" th:value="${item.id}" th:text="${item.name}" th:selected="${item.id == products.objectCategory.id}"></option>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please select your object category. </div>
                            </div>

                            <!--bat buoc co:wrapper-select-valid-custom,select2,select-validation-custom,valid-feedback-custom,invalid-feedback-custom-->

                            <div class="col-12 col-sm-6 col-md-6 mb-3 wrapper-select-valid-custom">
                                <label for="bs-validation-pcate" class="form-label">Product Category</label>
                                <select id="bs-validation-pcate" class="select2 form-select form-select-lg"
                                        data-allow-clear="true" name="productCategory" required>
                                    <option value="">Select value</option>
                                    <option th:each="item : ${productCates}" th:value="${item.id}" th:text="${item.name}" th:selected="${item.id == products.productCategory.id}"></option>
                                </select>
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback"> Please select your product category. </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 wrapper-select-valid-custom">
                                <label for="bs-validation-pstatus" class="form-label">Product Status</label>
                                <select id="bs-validation-pstatus" class="select2 form-select form-select-lg" data-allow-clear="true" name="productStatus" required>
                                    <option value="">Select value</option>
                                    <option th:each="item : ${productStatus}" th:value="${item}" th:text="${item}" th:selected="${item == products.productStatus}"></option>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please select your product status. </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 wrapper-select-valid-custom">
                                <label for="bs-validation-hot-status" class="form-label">Hot Status</label>
                                <select id="bs-validation-hot-status" class="select2 form-select form-select-lg" data-allow-clear="true" name="hotStatus" required>
                                    <option value="">Select value</option>
                                    <option th:each="item : ${hotStatus}" th:value="${item}" th:text="${item}" th:selected="${item == products.hotStatus}"></option>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please select your hot status. </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 wrapper-select-valid-custom">
                                <label for="bs-validation-bl-status" class="form-label">Best Seller Status</label>
                                <select id="bs-validation-bl-status" class="select2 form-select form-select-lg" data-allow-clear="true" name="bestSellerStatus" required>
                                    <option value="">Select value</option>
                                    <option th:each="item : ${bestSellerStatus}" th:value="${item}" th:text="${item}" th:selected="${item == products.bestSellerStatus}"></option>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please select your best seller status. </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 mb-3 wrapper-select-valid-custom">
                                <label for="bs-validation-dstatus" class="form-label">Discount Status</label>
                                <select id="bs-validation-dstatus" class="select2 form-select form-select-lg" data-allow-clear="true" name="discountStatus" required>
                                    <option value="">Select value</option>
                                    <option th:each="item : ${discountStatus}" th:value="${item}" th:text="${item}" th:selected="${item == products.discountStatus}"></option>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please select your discount status. </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 mb-3">
                                <label class="form-label" for="bs-validation-dpercent">Discount Percent</label>
                                <input type="number" class="form-control" id="bs-validation-dpercent"
                                       placeholder="0.0" name="discountPercent" th:value="${products.discountPercent}" min="0.0" step="0.1"
                                       pattern="^\d+(\.\d+)?$" required />
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback"> Please enter a valid discount percent. </div>
                            </div>


                            <div class="col-12 col-md-12 mb-3">
                                <label class="form-label" for="bs-validation-descriptions">Descriptions</label>
                                <textarea class="form-control" id="bs-validation-descriptions" rows="3"
                                          name="descriptions" th:text="${products.descriptions}" required></textarea>
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback"> Please enter your descriptions. </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-6 mb-3 wrapper-dropzone-valid-custom">
                                    <label class="form-label" for="bs-validation-urlAvatar">Upload Avatar</label>
                                    <div class="dropzone needsclick dropzone-single dropzone-edit-img" th:data-dropzone-urlAvatar="@{'/images/product/' + ${products.urlAvatar}}">
                                        <div class="dz-message needsclick">
                                            Drop files here or click to upload
                                            <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                        </div>
                                        <div class="fallback">
                                            <input class="form-control" id="bs-validation-urlAvatar" name="file" type="file" multiple required/>
                                        </div>
                                    </div>

                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">Please select a file to upload avatar. </div>
                                </div>

                                <div class="col-12 col-lg-6 mb-3">
                                    <label class="form-label">Preview Image</label>
                                    <div class="col-12" style="height:200px;">
                                        <img class="h-100" id="preview-image" style="object-fit:cover;" th:src="@{'/images/product/' + ${products.urlAvatar}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 mb-3 mt-3">
                                <div class="d-grid d-md-flex">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 invoice-actions">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-label-primary d-grid w-100 mb-3"
                            data-bs-toggle="modal" data-bs-target="#addListImages">Add List Images
                        </button>
                        <button class="btn btn-primary d-grid w-100 mb-3" data-bs-toggle="offcanvas"
                                data-bs-target="#sendInvoiceOffcanvas">
                            <span class="d-flex align-items-center justify-content-center text-nowrap">
                                <i class="bx bx-paper-plane bx-xs me-1"></i>Send Invoice
                            </span>
                        </button>
                        <button class="btn btn-label-secondary d-grid w-100 mb-3">
                            Download
                        </button>
                        <a class="btn btn-label-secondary d-grid w-100 mb-3" target="_blank"
                           href="./app-invoice-print.html">
                            Print
                        </a>
                        <a th:href="@{/mike/admin/product/detail/{productId}(productId=${products.id})}"
                           class="btn btn-label-secondary d-grid w-100 mb-3">
                            Product Detail
                        </a>
                        <button class="btn btn-primary d-grid w-100" data-bs-toggle="offcanvas"
                                data-bs-target="#addPaymentOffcanvas">
                      <span class="d-flex align-items-center justify-content-center text-nowrap"><i
                              class="bx bx-dollar bx-xs me-1"></i>Add Payment</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /Bootstrap Validation -->
        </div>
        <!-- /FormValidation -->

        <div class="modal fade" id="addListImages" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-simple modal-add-new-address">
                <div class="modal-content p-3 p-md-5">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-4">
                            <h3 class="address-title">Add List Images</h3>
                            <p class="address-subtitle">Add new potential list Images</p>
                        </div>
                        <form id="addListImagesForm" class="needs-validation row g-3" novalidate enctype="multipart/form-data"
                              th:action="@{/mike/api/product/image/add}" method="post">
                            <div class="col-12 wrapper-dropzone-valid-custom">
                                <label class="form-label" for="bs-validation-urlAvatar">Upload Avatar</label>
                                <div class="dropzone needsclick dropzone-multiple dropzone-list_product-img" th:data-product-id = "${products.id}">
                                    <div class="dz-message needsclick">
                                        Drop files here or click to upload
                                        <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                    </div>
                                    <div class="fallback">
                                        <input class="form-control" id="bs-validation-list-productImage" name="file" type="file" multiple required/>
                                    </div>
                                </div>

                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please select a file to upload avatar.</div>
                            </div>

                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary me-sm-3 me-1">Add</button>
                                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal"
                                        aria-label="Close">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
</th:block>


<th:block layout:fragment="js_foot">

    <!-- Vendors JS -->
    <script th:src="@{/admin/assets/vendor/libs/select2/select2.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/bootstrap-select/bootstrap-select.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/moment/moment.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/tagify/tagify.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/dropzone/dropzone.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/bloodhound/bloodhound.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/quill/katex.js}"></script>
    <script th:src="@{/admin/assets/vendor/libs/quill/quill.js}"></script>

    <!-- Page JS -->
    <script th:src="@{/admin/assets/js/form-validation.js}"></script>
    <script th:src="@{/admin/assets/js/forms-file-upload.js}"></script>
    <script th:src="@{/admin/assets/js/forms-selects.js}"></script>
    <script th:src="@{/admin/assets/js/forms-tagify.js}"></script>
    <script th:src="@{/admin/assets/js/forms-typeahead.js}"></script>
    <script th:src="@{/admin/assets/js/forms-editors.js}"></script>
    <script th:src="@{/admin/assets/js/forms-validation-select2-custom.js}"></script>
    <script th:src="@{/admin/assets/js/forms-validation-file-upload-custom.js}"></script>

    <script>
        $(document).ready(function() {
            $('.dropzone.dropzone-edit-img').each(function() {
                var dropzone = $(this);
                var form = dropzone.closest('form');
                var preview = form.find('#preview-image');

                // Sử dụng biến myDropzone đã tồn tại
                var myDropzone = Dropzone.forElement(dropzone[0]);

                // Xác định lại sự kiện "addedfile" cho myDropzone
                myDropzone.on("addedfile", function(file) {
                    var fileUrl = URL.createObjectURL(file);
                    preview.attr('src', fileUrl);
                    var div = preview.closest('div');
                    div.css('width', '');
                    div.css('border', '');
                    form.find('.dz-thumbnail img').attr('src', fileUrl);
                });

                // Xác định lại sự kiện "removedfile" cho myDropzone
                 myDropzone.on("removedfile", function(file) {
                    preview.attr('src', "");
                    var div = preview.closest('div');
                    div.css('width', '200px');
                    div.css('height', '200px');
                    var dropzoneBorderStyle = dropzone.css("border");
                    div.css('border', dropzoneBorderStyle);
                    div.css('border-radius', '10px');
                });

            });
        });
    </script>


    <script>
        $(document).ready(function() {
          var dropzoneElement = $(".dropzone.dropzone-edit-img");
          console.log(dropzoneElement.length);
          var dropzone = Dropzone.forElement(dropzoneElement[0]);

          // Get the URL of the file from data-dropzone-urlAvatar attribute
          var fileUrl = dropzoneElement.attr("data-dropzone-urlAvatar");

          // Extract the file name from the URL
          var fileName = fileUrl.substr(fileUrl.lastIndexOf("/") + 1);

          fetch(fileUrl)
            .then(response => response.blob())
            .then(blob => {
              // Create a new file object with the obtained blob
              var file = new File([blob], fileName);
              // Add the file to Dropzone
              dropzone.addFile(file);
            })
            .catch(error => {
              // Handle any errors that occur during the fetch request
              console.log('Error fetching file:', error);
            });
        });
    </script>

    <script>
        $(document).ready(function() {
          var myForm = document.getElementById('myForm');

          myForm.addEventListener('submit', function(event) {
            event.preventDefault();

            var dropzoneElement = myForm.querySelector('.dropzone-single');
            var file = dropzoneElement.dropzone.files[0];

            if (file && myForm.checkValidity()) {
              var formData = new FormData(myForm);
              formData.append('avatar', file, file.name);

              var url = myForm.getAttribute('action');

              $.ajax({
                url: url,
                type: 'PUT',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                  showModal("Edit success!", true);
                },
                error: function(xhr, status, error) {
                  var errorMessage = "Edit error: " + error;
                  showModal(errorMessage, false);
                }
              });
            }
          });

          function showModal(message, isSuccess) {
            var modalHeader = $("<div class='modal-header'></div>").append("<h5 class='modal-title'>" + (isSuccess ? "Success" : "Error") + "</h5>");
            var modalBody = $("<div class='modal-body'></div>").text(message);
            var closeButton = $("<button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>");
            var modalFooter = $("<div class='modal-footer'></div>").append(closeButton);
            var modalContent = $("<div class='modal-content'></div>").append(modalHeader, modalBody, modalFooter);
            var modalDialog = $("<div class='modal-dialog' role='document'></div>").append(modalContent);
            var modal = $("<div class='modal fade'></div>").append(modalDialog);

            closeButton.on("click", function() {
              if(isSuccess){
                location.reload();
              }
              modal.modal("hide");
            });

            modal.on("hidden.bs.modal", function() {
              if(isSuccess){
                location.reload();
              }
              modal.remove();
            });

            $("body").append(modal);
            modal.modal("show");
          }
        });
    </script>
    
    <script>
        $(document).ready(function() {
            var myForm = document.getElementById('addListImagesForm');

            myForm.addEventListener('submit', function(event) {
                event.preventDefault();

                var dropzoneElement = myForm.querySelector('.dropzone.dropzone-multiple.dropzone-list_product-img');
                var files = dropzoneElement.dropzone.files;
                console.log(files.length);
                var productId = $(dropzoneElement).data('product-id');
                console.log(productId);
                if (files && files.length > 0 && myForm.checkValidity()) {
                    var formData = new FormData();
                    formData.append('productId', productId);

                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];
                        formData.append('listImages', file, file.name);
                    }            
                    
                    console.log(formData);
                    var url = myForm.getAttribute('action');

                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                          showModal("Edit success!", true);
                        },
                        error: function(xhr, status, error) {
                          var errorMessage = "Edit error: " + error;
                          showModal(errorMessage, false);
                        }
                      });
                }
            });

            function showModal(message, isSuccess) {
                var modalHeader = $("<div class='modal-header'></div>").append("<h5 class='modal-title'>" + (isSuccess ? "Success" : "Error") + "</h5>");
                var modalBody = $("<div class='modal-body'></div>").text(message);
                var closeButton = $("<button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>");
                var modalFooter = $("<div class='modal-footer'></div>").append(closeButton);
                var modalContent = $("<div class='modal-content'></div>").append(modalHeader, modalBody, modalFooter);
                var modalDialog = $("<div class='modal-dialog' role='document'></div>").append(modalContent);
                var modal = $("<div class='modal fade'></div>").append(modalDialog);

                closeButton.on("click", function() {
                if(isSuccess){
                    location.reload();
                }
                modal.modal("hide");
                });

                modal.on("hidden.bs.modal", function() {
                if(isSuccess){
                    location.reload();
                }
                modal.remove();
                });

                $("body").append(modal);
                modal.modal("show");
            }
        });
    </script>


</th:block>
</body>
</html>

