<div class="modal fade" id="deleteListImages" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-add-new-address">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3 class="address-title">Delete Images</h3>
                    <p class="address-subtitle">Delete Images</p>
                </div>
                <div id="message-valid-deleteImage"></div>
                <form id="deleteListImagesForm" class="needs-validation row g-3" novalidate enctype="multipart/form-data"
                      th:action="@{/mike/api/product/product-image/delete/} + ${products.id}" method="delete">
                    <div class="col-12 wrapper-dropzone-valid-custom">
                        <label class="form-label" for="bs-validation-deleteList-productImage">Delete Images</label>
                        <div class="dropzone needsclick dropzone-multiple dropzone-delete-list_product_image"
                             th:data-product-id = "${products.id}" data-size-image = "">
                            <div class="dz-message needsclick">
                                Drop files here or click to upload
                                <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                            </div>
                            <div class="fallback">
                                <input class="form-control" id="bs-validation-deleteList-productImage" name="file" type="file" multiple required/>
                            </div>
                        </div>

                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please select a file to upload images.</div>
                    </div>

                    <div class="col-12 text-center">
                        <button type="button" id="reset-delete-image" class="btn btn-label-secondary me-sm-3 me-1 mb-3">Reset Image</button>
                        <button type="submit" class="btn btn-primary me-sm-3 me-1 mb-3"> Delete </button>
                        <button type="reset" class="btn btn-label-secondary mb-3" data-bs-dismiss="modal"
                                aria-label="Close"> Cancel </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>