<script>
    $(document).ready(function() {
        $('.product-model-body').on('change', '.input-color-modal', function (){
            if ($(this).prop('checked')) {
                var href =  window.location.href;
                var productId = href.substring(href.lastIndexOf("/") + 1);
                const colorId = $(this).val();
                var url = "/mike/api/product/product-color-single?productId=" + productId + "&colorId=" + colorId;
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "JSON",
                    success: function(data) {
                        var productDetail = data.productDetail;
                        var $inputSizeProduct = $('.input-size-modal');
                        $('.input-size-modal:checked').closest('label').removeClass('active');
                        $('.input-size-modal:checked').prop('checked', false);
                        var unique = new Set();
                        var unique1 = new Set();
                        var newArray = [];

                        $inputSizeProduct.each(function(){
                            $(this).closest('label.detail-option-btn-label').removeClass('soldout')
                            unique.add($(this).val().trim());
                        });
                        productDetail.map((detail, index) => {
                            if (!unique1.has(detail.size.id) && detail.quantity > 0) {
                                unique1.add(detail.size.id); //
                            }
                        });

                        unique.forEach(element => {
                            const numericElement = parseInt(element);
                            if (!unique1.has(numericElement)) {
                                newArray.push(element);
                            }
                        });

                        $inputSizeProduct.each(function(){
                            if(newArray.includes($(this).val().trim())){
                                $(this).closest('label.detail-option-btn-label').addClass('soldout');
                            }
                        });

                    },
                    error: function(jqXHR, textStatus, errorTh){

                    }
                });
            }
        });
    });
</script>