<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="layouts/web/layoutWeb"
      layout:decorator="layouts/web/layoutWeb :: content, layouts/web/layoutWeb :: css_head, layouts/web/layoutWeb :: js_foot">
<head>
    <meta charset="UTF-8">
    <!-- Link CSS ở đây -->
    <th:block layout:fragment="css_head">
        <title> Shop | Mike </title>
        <link rel="stylesheet" th:href="@{/web/assets/css/product-disabled.css}" />
        <link rel="stylesheet" th:href="@{/web/assets/vendor/sweetalert2/sweetalert2.css}" />
    </th:block>
</head>
<body>

<!-- Gọi layout cha -->
<th:block layout:fragment="content">
    <section class="position-relative dark-overlay py-3 py-lg-7 overflow-hidden" data-parallax="scroll"
             data-image-src="/web/assets/img/photo/erii-gutierrez-487083-unsplash.jpg" data-speed="0.3" data-position-x="right">
        <div class="container overlay-content hero hero-page">
            <ul class="breadcrumb justify-content-center no-border mb-0">
                <li class="breadcrumb-item"><a class="text-white" th:href="@{/mike/home}">Home</a></li>
                <li class="breadcrumb-item text-white active">Shop</li>
            </ul>
            <div class="hero-content pb-5 text-center text-white">
                <h1 class="hero-heading">Shop</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
    </section>
    <div class="container mt-5">
        <div class="row">
            <!-- Grid -->
            <div class="products-grid col-xl-9 col-lg-8 order-2 order-lg-2 py-3 py-lg-0">
                <header class="product-grid-header">
                    <div class="ms-3 ms-sm-0 me-3 mb-3" id="showTitleNumber">
                        Showing <strong>1-12 </strong>of <strong>158 </strong>products
                    </div>
                    <div class="ms-3 ms-sm-0 me-3 mb-3">
                        <span class="me-2">Show</span>
                        <a class="product-grid-header-show pagination-option active" href="javascript:void(0)">12</a>
                        <a class="product-grid-header-show pagination-option" href="javascript:void(0)">24</a>
                        <a class="product-grid-header-show pagination-option" href="javascript:void(0)">All</a>
                    </div>
                    <div class="ms-3 ms-sm-0 mb-3 d-flex align-items-center"><span class="d-inline-block me-2">Sort by</span>
                        <select class="form-select w-auto border-0 product-sort-item">
                            <option value="">Default</option>
                            <option value="price_ASC">Price increase</option>
                            <option value="price_DESC">Price gradually</option>
                            <option value="name_ASC">Alphabetical(A->Z)</option>
                            <option value="name_DESC">Alphabetical(Z->A)</option>
                            <option value="id_DESC">Newest</option>
                            <option value="id_ASC">Oldest</option>
                            <option value="">Rating</option>
                            <option value="">BetSeller</option>
                        </select>
                    </div>
                </header>
                <div class="row px-3 px-sm-0" id="wrapper-list-product">
                    <!--Content-->
                </div>
                <!-- Pagination-->
                <nav class="d-flex justify-content-center mb-5 mt-3" aria-label="page navigation">
                  <ul class="pagination" id="pagination">
                    <!--content-->
                  </ul>
                </nav>
            </div>
            <!-- / Grid End-->
            <!-- Sidebar-->
            <div class="sidebar col-xl-3 col-lg-4 order-1 order-lg-1">
                <div class="d-flex justify-content-center align-items-center me-lg-4">
                  <a class="w-50 nav-link active text-center fw-bold clear-filter py-2 bg-info text-light rounded-4" href="javascript:void(0)">
                    <span>Clear filter</span>
                  </a>
                </div>
                <div class="sidebar-block px-3 px-sm-0 me-lg-4">
                    <a class="d-lg-none block-toggler" data-bs-toggle="collapse"
                       href="#categoriesMenu" aria-expanded="false" aria-controls="categoriesMenu">Product Categories</a>
                    <div class="expand-lg collapse" id="categoriesMenu">
                        <div class="nav nav-pills flex-column mt-4 mt-lg-0" role="menu">
                           
                            <div class="sidebar-menu-item mb-2 active" data-bs-toggle="collapse" data-bs-target="#productUserMenu"
                                 aria-expanded="true" aria-controls="productUserMenu" role="menuitem">
                                <a class="nav-link active" href="javascript:void(0)">
                                    <span>Gender</span>
<!--                                    <span class="sidebar-badge ms-2">123</span>-->
                                </a>
                            </div>
                            <div class="collapse show" id="productUserMenu">
                                <div class="nav nav-pills flex-column ms-3">
                                    <a class="nav-link mb-2 product-user-item" href="javascript:void(0)"
                                       th:each="objectCate: ${objectCates}"
                                       th:text="${objectCate.name}"
                                       th:data-product-user-item-id="${objectCate.id}">
                                    </a>
                                </div>
                            </div>
                            <div class="sidebar-menu-item mb-2" data-bs-toggle="collapse" data-bs-target="#productCategoryMenu"
                                 aria-expanded="false" aria-controls="productCategoryMenu" role="menuitem">
                                <a class="nav-link" href="javascript:void(0)">
                                    <span>Category</span>
<!--                                    <span class="sidebar-badge ms-2">55</span>-->
                                </a>
                            </div>
                            <div class="collapse" id="productCategoryMenu">
                                <div class="nav nav-pills flex-column ms-3">
                                    <a class="nav-link mb-2 product-category-item" href="javascript:void(0)"
                                       th:each="productCate: ${productCates}"
                                       th:text="${productCate.name}"
                                       th:data-product-category-item-id="${productCate.id}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-block px-3 px-sm-0 me-lg-4">
                    <a class="d-lg-none block-toggler" data-bs-toggle="collapse"
                       href="#priceFilterMenu" aria-expanded="false" aria-controls="priceFilterMenu">Filter by price</a>
                    <div class="expand-lg collapse" id="priceFilterMenu">
                        <h6 class="sidebar-heading d-none d-lg-block">Price </h6>
                        <div class="mt-4 mt-lg-0" id="slider-snap"> </div>
                        <div class="nouislider-values">
                            <div class="min">From $<span id="slider-snap-value-lower"></span></div>
                            <div class="max">To $<span id="slider-snap-value-upper"></span></div>
                            <input class="slider-snap-input product-price-lower" type="hidden"
                                   name="pricefrom" id="slider-snap-input-lower" value="">
                            <input class="slider-snap-input product-price-upper" type="hidden"
                                   name="priceto" id="slider-snap-input-upper" value="">
                        </div>
                    </div>
                </div>
                <div class="sidebar-block px-3 px-sm-0 me-lg-4">
                    <a class="d-lg-none block-toggler" data-bs-toggle="collapse"
                       href="#sizeFilterMenu" aria-expanded="false" aria-controls="sizeFilterMenu">Filter by size</a>
                    <!-- Brand filter menu - this menu has .show class, so is expanded by default-->
                    <div class="expand-lg collapse" id="sizeFilterMenu">
                        <h6 class="sidebar-heading d-none d-lg-block">Size </h6>
                        <form class="mt-4 mt-lg-0" action="#">
                            <div class="mb-1" th:each="size: ${sizes}">
                                <div class="form-check">
                                    <input class="form-check-input product-size-item" th:id="size + ${size.id}"
                                           type="checkbox" name="clothes-size"
                                           th:value="${size.id}">
                                    <label class="form-check-label" th:for="size + ${size.id}" th:text="${size.name}"></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar-block px-3 px-sm-0 me-lg-4">
                    <a class="d-lg-none block-toggler" data-bs-toggle="collapse"
                       href="#colourFilterMenu" aria-expanded="false" aria-controls="colourFilterMenu">Filter by colour</a>
                    <!-- Size filter menu-->
                    <div class="expand-lg collapse" id="colourFilterMenu">
                        <h6 class="sidebar-heading d-none d-lg-block">Colour </h6>
                        <div class="mt-4 mt-lg-0">
                            <ul class="list-inline mb-0 colours-wrapper">
                                <li class="list-inline-item" th:each="color: ${colors}">
                                    <label class="btn-colour"
                                           th:for="'colour_sidebar_' + ${color.name}"
                                           th:style="${'background-color:' + color.colorHex}"
                                           data-allow-multiple> </label>
                                    <input class="input-invisible product-color-item" type="checkbox" name="colour" th:value="${color.id}"
                                           th:id="'colour_sidebar_' + ${color.name}">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-flex justify-content-center align-items-center me-lg-4 my-4">
                  <a class="w-50 nav-link active text-center fw-bold clear-filter py-2 bg-info text-light rounded-4" href="javascript:void(0)">
                    <span>Clear filter</span>
                  </a>
                </div>
            </div>
            <!-- /Sidebar end-->
        </div>
    </div>
    <!-- Quickview Modal    -->
    <div class="modal fade quickview" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <button class="close modal-close" type="button" data-bs-dismiss="modal" aria-label="Close">
              <svg class="svg-icon w-100 h-100 svg-icon-light align-middle">
                  <use xlink:href="#close-1"> </use>
              </svg>
          </button>
          <div class="modal-body product-model-body">
            <!--content-->
          </div>
        </div>
      </div>
    </div>
</th:block>


<th:block layout:fragment="js_foot">
    <script th:src="@{/web/assets/vendor/jquery-parallax.js/parallax.min.js}"></script>
    <script th:src="@{/web/assets/vendor/sweetalert2/sweetalert2.js}"></script>
    <!--page-->
    <script th:src="@{/web/assets/js/pages/shop-handle-slider.js}"></script>
    <script th:src="@{/web/assets/js/pages/shop.handle-filter.js}"></script>
    <script th:src="@{/web/assets/js/pages/shop.load-handle-submit.js}"></script>
</th:block>
</body>
</html>

