<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="layouts/web/layoutWeb"
      layout:decorator="layouts/web/layoutWeb :: content, layouts/web/layoutWeb :: css_head, layouts/web/layoutWeb :: js_foot">
<head>
    <meta charset="UTF-8">
    <!-- Link CSS ở đây -->
    <th:block layout:fragment="css_head">
        <title> Shop | Mike </title>
        <link rel="stylesheet" th:href="@{/web/assets/css/product-disabled.css}" />
        <link rel="stylesheet" th:href="@{/web/assets/vendor/sweetalert2/sweetalert2.css}" />

    </th:block>
</head>
<body>

<!-- Gọi layout cha -->
<th:block layout:fragment="content">
    <section class="hero">
        <div class="container">
          <!-- Breadcrumbs -->
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <a th:href="@{/mike/home}">Home</a>
            </li>
            <li class="breadcrumb-item active">Shop</li>
          </ol>
          <!-- Hero Content-->
          <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Jackets and tops</h1>
            <div class="row">   
              <div class="col-xl-8 offset-xl-2"><p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p></div>
            </div>
          </div>
        </div>
      </section>
      <main>
        <div class="container">
          <div class="row">
            <!-- Grid -->
            <div class="products-grid col-12 sidebar-none">
                <header class="product-grid-header">
                    <div class="ms-3 ms-md-0 me-3 mb-3" id="showTitleNumber">
                        Showing <strong>1-12 </strong>of <strong>158 </strong>products
                    </div>
                    <div class="ms-3 ms-md-0 me-3 mb-3">
                        <span class="me-2">Show</span>
                        <a class="product-grid-header-show pagination-option active" href="javascript:void(0)">12</a>
                        <a class="product-grid-header-show pagination-option" href="javascript:void(0)">24 </a>
                        <a class="product-grid-header-show pagination-option" href="javascript:void(0)">All</a>
                    </div>
                    <div class="ms-3 ms-md-0 me-3 mb-3 d-flex align-items-center"><span class="d-inline-block me-2">Sort by</span>
                        <select class="form-select w-auto border-0 product-sort-item">
                            <option value="">Default</option>
                            <option value="price_ASC">Price increase</option>
                            <option value="price_DESC">Price gradually</option>
                            <option value="name_ASC">Alphabetical(A->Z)</option>
                            <option value="name_DESC">Alphabetical(Z->A)</option>
                            <option value="id_DESC">Newest</option>
                            <option value="id_ASC">Oldest</option>
                            <option value="">Rating</option>
                            <option value="">BetSeller</option>
                        </select>
                    </div>
                </header>
                <div class="row px-3 px-sm-0" id="wrapper-list-product">
                    <!--Content-->
                </div>
                <!-- Pagination-->
                <nav class="d-flex justify-content-center mb-5 mt-3" aria-label="page navigation">
                    <ul class="pagination" id="pagination">
                        <!--content-->
                    </ul>
                </nav>
            </div>
            <!-- / Grid End-->
          </div>
        </div>
      </main>
    <!-- Quickview Modal    -->
    <div class="modal fade quickview" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <button class="close modal-close" type="button" data-bs-dismiss="modal" aria-label="Close">
              <svg class="svg-icon w-100 h-100 svg-icon-light align-middle">
                  <use xlink:href="#close-1"> </use>
              </svg>
          </button>
          <div class="modal-body product-model-body">
            <!--content-->
          </div>
        </div>
      </div>
    </div>
</th:block>


<th:block layout:fragment="js_foot">
    <script th:src="@{/web/assets/vendor/jquery-parallax.js/parallax.min.js}"></script>
    <script th:src="@{/web/assets/vendor/sweetalert2/sweetalert2.js}"></script>
    <!--page-->
    <script th:src="@{/web/assets/js/pages/shop-filter.handle-filter.js}"></script>
    <script th:src="@{/web/assets/js/pages/shop.load-handle-submit.js}"></script>

</th:block>
</body>
</html>

