<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="layouts/web/layoutWeb"
      layout:decorator="layouts/web/layoutWeb :: content, layouts/web/layoutWeb :: css_head, layouts/web/layoutWeb :: js_foot">
<head>
    <meta charset="UTF-8">
    <!-- Link CSS ở đây -->
    <th:block layout:fragment="css_head">
        <title> User Profile | Mike </title>
    </th:block>
</head>
<body>

<!-- Gọi layout cha -->
<th:block layout:fragment="content">
    <!-- Hero Section-->
    <section class="hero">
        <div class="container">
          <!-- Breadcrumbs -->
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Your profile</li>
          </ol>
          <!-- Hero Content-->
          <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Your profile</h1>
            <div class="row">   
              <div class="col-xl-8 offset-xl-2"><p class="lead text-muted">Maecenas sollicitudin. In rutrum. In convallis. Nunc tincidunt ante vitae massa. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Fusce dui leo, imperdiet in.</p></div>
            </div>
          </div>
        </div>
    </section>
    <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-xl-9 order-2 order-lg-1">
              <div class="block mb-5">
                <div class="block-header"><strong class="text-uppercase">Change your password</strong></div>
                <div class="block-body">
                  <div id="message-change-pass"></div>
                  <form id="changePassForm">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label class="form-label" for="password_old">Old password</label>
                          <input class="form-control" id="password_old" type="password">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label class="form-label" for="password_1">New password</label>
                          <input class="form-control" id="password_1" type="password">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label class="form-label" for="password_2">Retype new password</label>
                          <input class="form-control" id="password_2" type="password">
                        </div>
                      </div>
                    </div>
                    <div class="text-center mt-4">
                      <button class="btn btn-outline-dark" type="submit"><i class="far fa-save me-2"></i>Change password</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="block mb-5">
                <div class="block-header"><strong class="text-uppercase">Personal details</strong></div>
                <div class="block-body">
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label class="form-label" for="firstname">Firstname</label>
                          <input class="form-control" id="firstname" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label class="form-label" for="lastname">Lastname</label>
                          <input class="form-control" id="lastname" type="text">
                        </div>
                      </div>
                    </div>
                    <!-- /.row-->
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label class="form-label" for="company">Company</label>
                          <input class="form-control" id="company" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label class="form-label" for="street">Street</label>
                          <input class="form-control" id="street" type="text">
                        </div>
                      </div>
                    </div>
                    <!-- /.row-->
                    <div class="row">
                      <div class="col-sm-6 col-md-3">
                        <div class="mb-4">
                          <label class="form-label" for="city">Company</label>
                          <input class="form-control" id="city" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <div class="mb-4">
                          <label class="form-label" for="zip">ZIP</label>
                          <input class="form-control" id="zip" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <div class="mb-4">
                          <label class="form-label" for="state">State</label>
                          <select class="form-control" id="state"></select>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <div class="mb-4">
                          <label class="form-label" for="country">Country</label>
                          <select class="form-control" id="country"></select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label class="form-label" for="phone">Telephone</label>
                          <input class="form-control" id="phone" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label class="form-label" for="email">Email</label>
                          <input class="form-control" id="email" type="text">
                        </div>
                      </div>
                    </div>
                    <!-- /.row-->
                    <div class="text-center mt-4">
                      <button class="btn btn-outline-dark" type="submit"><i class="far fa-save me-2"></i>Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Customer Sidebar-->
            <div class="col-xl-3 col-lg-4 order-1 order-lg-2 mb-5">
              <div class="customer-sidebar card border-0">
                  <div class="customer-profile"><a class="d-inline-block" href="#">
                      <img class="img-fluid rounded-circle customer-image shadow" src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/photo/kyle-loftus-589739-unsplash-avatar.jpg" alt=""></a>
                      <h5 th:text="${session.user.fullName}"></h5>
                      <span th:text="${session.user.username}" id="usernameSub" class="mb-3"></span>
                      <p class="text-muted text-sm mb-0">Ostrava, Czech Republic</p>
                  </div>
                  <nav class="list-group customer-nav">
                      <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" th:href="@{/mike/user-profile/order}">
                          <span>
                              <svg class="svg-icon svg-icon-heavy me-2">
                                  <use xlink:href="#paper-bag-1"> </use>
                              </svg>Orders
                          </span>
                          <div class="badge rounded-pill bg-dark fw-normal px-3">5</div>
                      </a>
                      <a class="active list-group-item d-flex justify-content-between align-items-center text-decoration-none" th:href="@{/mike/user-profile/profile}">
                          <span>
                              <svg class="svg-icon svg-icon-heavy me-2">
                                  <use xlink:href="#male-user-1"> </use>
                              </svg>Profile
                          </span>
                      </a>
                      <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" th:href="@{/mike/user-profile/address}">
                          <span>
                              <svg class="svg-icon svg-icon-heavy me-2">
                                  <use xlink:href="#navigation-map-1"> </use>
                              </svg>Addresses
                          </span>
                      </a>
                      <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" th:href="@{/mike/auth/logout}">
                          <span>
                              <svg class="svg-icon svg-icon-heavy me-2">
                                  <use xlink:href="#exit-1"> </use>
                              </svg>Log out
                          </span>
                      </a>
                  </nav>
              </div>
            </div>
            <!-- /Customer Sidebar-->
          </div>
        </div>
    </section>
</th:block>


<th:block layout:fragment="js_foot">

    <script>
        $(document).ready(function() {
            var $changePassForm = $('#changePassForm');
            $changePassForm.on('submit', function(event) {
                event.preventDefault();
                var $msgChangePass = $('#message-change-pass');
                var username = $('#usernameSub').text();
                var oldPass = $('#password_old').val();
                var newPass = $('#password_1').val();
                var confirmPass = $('#password_2').val();

                if (username && oldPass && newPass && confirmPass) {
                    if (newPass !== confirmPass) {
                        showMessage($msgChangePass, 'New password and confirm password do not match.');
                    } else {
                        var formData = {
                            username: username,
                            oldPassword: oldPass,
                            newPassword: newPass,
                            confirmPassword: confirmPass
                        };
                        $.ajax({
                            url: '/mike/api/user/change-pass',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(formData),
                            success: function(data) {
                                console.log(data);
                                showModal("Change password successfully",true);
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                try {
                                    var errorResponse = JSON.parse(jqXHR.responseText);
                                    showMessage($msgChangePass, 'Change password failed: ' + errorResponse.message);
                                    console.log(errorResponse);
                                } catch (e) {
                                    showMessage($msgChangePass, 'An error occurred while processing your request.');
                                    console.log('Error parsing JSON response:', e);
                                }
                            }
                        });
                    }
                } else {
                    showMessage($msgChangePass, 'Please fill in all fields.');
                }
            });

            function showMessage($msgWrapper, message) {
                $msgWrapper.empty();
                var content = $(`
                    <div class="alert alert-danger" role="alert">${message}</div>
                `);
                $msgWrapper.append(content);
            }
          
            function showModal(message, isSuccess) {
                var modalHeader = $("<div class='modal-header'></div>").append("<h5 class='modal-title'>" + (isSuccess ? "Success" : "Error") + "</h5>");
                var modalBody = $("<div class='modal-body'></div>").append(message);
                var closeButton = $("<button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>");
                var modalFooter = $("<div class='modal-footer'></div>").append(closeButton);
                var modalContent = $("<div class='modal-content'></div>").append(modalHeader, modalBody, modalFooter);
                var modalDialog = $("<div class='modal-dialog' role='document'></div>").append(modalContent);
                var modal = $("<div class='modal fade'></div>").append(modalDialog);

                modal.on("hidden.bs.modal", function() {
                if(isSuccess){
                    location.reload();
                }
                modal.remove();
                });

                closeButton.on("click", function() {
                if(isSuccess){
                    location.reload();
                }
                modal.modal("hide");
                });

                $("body").append(modal);
                modal.modal("show");
            }
        });

    </script>
</th:block>
</body>
</html>

