<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
  <!-- Price Slider Stylesheets -->
  <link rel="stylesheet" th:href="@{/web/assets/vendor/nouislider/nouislider.css}">
  <!-- Google fonts - Playfair Display-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
  <link rel="stylesheet" th:href="@{/web/assets/fonts/hkgrotesk/stylesheet.2e9c9834.css}">
  <!-- owl carousel-->
  <link rel="stylesheet" th:href="@{/web/assets/vendor/owl.carousel/assets/owl.carousel.css}">
  <!-- Lightbox -->
  <link rel="stylesheet" th:href="@{/web/assets/vendor/glightbox/css/glightbox.min.css}">
  <!-- theme stylesheet-->
  <link rel="stylesheet" th:href="@{/web/assets/css/style.default.7acfaf01.css}" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" th:href="@{/web/assets/css/custom.0a822280.css}">
  <!-- Favicon-->
  <link rel="icon" type="image" th:href="@{/web/assets/img/favicon/favicon.ico}">
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" th:href="@{/web/assets/fonts/fontawesome/css/all.css}" >
  <link rel="stylesheet" th:href="@{/web/assets/fonts/fontawesome/css/fontawesome.css}" >
  <link rel="stylesheet" th:href="@{/web/assets/fonts/fontawesome/css/regular.css}" >
  <link rel="stylesheet" th:href="@{/web/assets/fonts/fontawesome/css/solid.css}" >
</th:block>