<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <header class="header">
        <!-- Top Bar-->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-7 d-none d-sm-block">
                        <ul class="list-inline topbar-text mb-0">
                            <li class="list-inline-item pe-3 me-0">
                                <svg class="svg-icon me-2">
                                    <use xlink:href="#calls-1"> </use>
                                </svg>020-800-456-747
                            </li>
                            <li class="list-inline-item px-3 border-start d-none d-lg-inline-block">Free shipping on
                                orders over $300</li>
                        </ul>
                    </div>
                    <div class="col-sm-5 d-flex justify-content-end">
                        <!-- Language Dropdown-->
                        <div class="dropdown border-end px-3">
                            <a class="dropdown-toggle topbar-link" id="langsDropdown"
                                 href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true"
                                 aria-expanded="false">
                                <img class="topbar-flag"
                                    th:src="@{/web/assets/img/flag/gb.svg}"
                                    alt="english">English
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated"
                                 aria-labelledby="langsDropdown"><a class="dropdown-item text-sm" href="#"><img
                                    class="topbar-flag"
                                    th:src="@{/web/assets/img/flag/de.svg}"
                                    alt="german">German</a><a class="dropdown-item text-sm" href="#"> <img
                                    class="topbar-flag"
                                    th:src="@{/web/assets/img/flag/fr.svg}"
                                    alt="french">French</a></div>
                        </div>
                        <!-- Currency Dropdown-->
                        <div class="dropdown ps-3 ms-0">
                            <a class="dropdown-toggle topbar-link" id="currencyDropdown"
                               href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fas fa-dollar-sign text-xs align-middle mt-n1 me-2">
                            </i>USD
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated"
                                 aria-labelledby="currencyDropdown">
                                <a class="dropdown-item text-sm" href="#">
                                    <i class="fas fa-euro-sign text-xs align-middle mt-n1 me-2"></i>
                                    EUR
                                </a>
                                <a class="dropdown-item text-sm" href="#">
                                    <i class="fas fa-pound-sign text-xs align-middle mt-n1 me-2"></i>
                                    GBP
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End-->
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-sticky navbar-airy navbar-light bg-white bg-fixed-white">
            <div class="container-fluid">
                <!-- Navbar Header  -->
<!--                <a class="navbar-brand d-flex align-items-center" th:href="@{/mike/home}">-->
<!--                    <span class="app-brand-text demo text-body fw-bolder">MIKE</span>-->
<!--                </a>-->
                <a th:href="@{/mike/home}" class="navbar-brand app-brand-link d-flex align-items-center">
                    <span class="app-brand-logo demo">
                        <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <path d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z" id="path-1"></path>
                                <path d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z" id="path-3"></path>
                                <path d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z" id="path-4"></path>
                                <path d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z" id="path-5"></path>
                            </defs>
                            <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                                    <g id="Icon" transform="translate(27.000000, 15.000000)">
                                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                                            <mask id="mask-2" fill="white">
                                                <use xlink:href="#path-1"></use>
                                            </mask>
                                            <use fill="#696cff" xlink:href="#path-1"></use>
                                            <g id="Path-3" mask="url(#mask-2)">
                                                <use fill="#696cff" xlink:href="#path-3"></use>
                                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                                            </g>
                                            <g id="Path-4" mask="url(#mask-2)">
                                                <use fill="#696cff" xlink:href="#path-4"></use>
                                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                                            </g>
                                        </g>
                                        <g id="Triangle" transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                                            <use fill="#696cff" xlink:href="#path-5"></use>
                                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <span class="app-brand-text demo menu-text fw-bolder ms-2 ">MIKE</span>
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <!-- Navbar Collapse -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/mike/home}">Home</a>
                        </li>
                        <!-- Megamenu-->
                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle " th:href="@{/mike/shop}"
                               data-bs-toggle="dropdown">Shop</a>
                            <div class="dropdown-menu dropdown-menu-animated megamenu py-lg-0">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <!--<div class="row p-3 pe-lg-0 ps-lg-5 pt-lg-5">
                                            <div class="col-lg-3">
                                                <h6 class="text-uppercase">Categories</h6>
                                                <ul class="megamenu-list list-unstyled">
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="category.html">Shop All</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="category-right.html">Tops</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="category-no-sidebar.html">Bottoms</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="category-full.html">Outerwear</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="category-masonry.html">Footwear
                                                            <span class="badge bg-warning ms-1">New</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="text-uppercase">Objects</h6>
                                                <ul class="megamenu-list list-unstyled">
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart.html">Boy</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart-2.html">Girl</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart-2.html">Children</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="text-uppercase">Prices</h6>
                                                <ul class="megamenu-list list-unstyled">
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart.html">0 - 500.000</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart.html">500.000 - 1.000.000</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart.html">&gt; 1.000.000</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="text-uppercase">Sales</h6>
                                                <ul class="megamenu-list list-unstyled">
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart.html">5%</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart.html">10%</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart.html">20%</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart.html">40%</a>
                                                    </li>
                                                    <li class="megamenu-list-item">
                                                        <a class="megamenu-list-link" href="cart.html">50%</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>-->
                                        <th:block th:replace="fragments/web/menu :: menu"></th:block>
                                        <div class="row megamenu-services d-none d-lg-flex">
                                            <div class="col-xl-3 col-lg-6 d-flex">
                                                <div class="megamenu-services-item">
                                                    <svg class="svg-icon megamenu-services-icon">
                                                        <use xlink:href="#delivery-time-1"> </use>
                                                    </svg>
                                                    <div>
                                                        <h6 class="text-uppercase">Free shipping &amp; return</h6>
                                                        <p class="mb-0 text-muted text-sm">Free Shipping over $300</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6 d-flex">
                                                <div class="megamenu-services-item">
                                                    <svg class="svg-icon megamenu-services-icon">
                                                        <use xlink:href="#money-1"> </use>
                                                    </svg>
                                                    <div>
                                                        <h6 class="text-uppercase">Money back guarantee</h6>
                                                        <p class="mb-0 text-muted text-sm">30 Days Money Back</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6 d-flex">
                                                <div class="megamenu-services-item">
                                                    <svg class="svg-icon megamenu-services-icon">
                                                        <use xlink:href="#customer-support-1"> </use>
                                                    </svg>
                                                    <div>
                                                        <h6 class="text-uppercase">020-800-456-747</h6>
                                                        <p class="mb-0 text-muted text-sm">24/7 Available Support</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6 d-flex">
                                                <div class="megamenu-services-item">
                                                    <svg class="svg-icon megamenu-services-icon">
                                                        <use xlink:href="#secure-payment-1"> </use>
                                                    </svg>
                                                    <div>
                                                        <h6 class="text-uppercase">Secure Payment</h6>
                                                        <p class="mb-0 text-muted text-sm">Secure Payment</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 d-none d-lg-block position-relative">
                                        <img class="bg-image"
                                             th:src="@{/web/assets/img/megamenu.jpg}"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /Megamenu end-->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/mike/blog}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>

                    </ul>
                    <div class="d-flex align-items-center justify-content-between justify-content-lg-end mt-1 mb-2 my-lg-0">
                        <!-- Search Button-->
                        <div class="nav-item navbar-icon-link" data-bs-toggle="search">
                            <svg class="svg-icon">
                                <use xlink:href="#search-1"> </use>
                            </svg>
                        </div>
                        <!-- User Not Logged - link to login page-->
                        <div class="nav-item">
                            <a class="navbar-icon-link" th:href="@{/mike/auth/login}">
                                <svg class="svg-icon">
                                    <use xlink:href="#male-user-1"> </use>
                                </svg>
                                <span class="text-sm ms-2 ms-lg-0 text-uppercase text-sm fw-bold d-none d-sm-inline d-lg-none">Login</span>
                            </a>
                        </div>
                        <!-- Cart Dropdown-->
                        <div class="nav-item dropdown">
                            <a class="navbar-icon-link d-lg-none" href="cart.html">
                                <svg class="svg-icon">
                                    <use xlink:href="#cart-1"> </use>
                                </svg>
                                <span class="text-sm ms-2 ms-lg-0 text-uppercase text-sm fw-bold d-none d-sm-inline d-lg-none">View cart</span>
                            </a>
                            <div class="d-none d-lg-block">
                                <a class="navbar-icon-link" id="cartdetails" href="cart.html"
                                   data-bs-target="#" data-bs-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                <svg class="svg-icon">
                                    <use xlink:href="#cart-1"> </use>
                                </svg>
                                <div class="navbar-icon-link-badge">3 </div>
                            </a>
                                <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end p-4"
                                     aria-labelledby="cartdetails">
                                    <div class="navbar-cart-product-wrapper">
                                        <!-- cart item-->
                                        <div class="navbar-cart-product">
                                            <div class="d-flex align-items-center"><a href="detail.html"><img
                                                    class="img-fluid navbar-cart-product-image"
                                                    th:src="@{/web/assets/img/product/product-square-ian-dooley-347968-unsplash.jpg}"
                                                    alt="..."></a>
                                                <div class="w-100"><a class="navbar-cart-product-close" href="#"><i
                                                        class="fa fa-times"> </i></a>
                                                    <div class="ps-3">
                                                        <a class="navbar-cart-product-link" href="detail.html">Skull Tee</a>
                                                        <small class="d-block text-muted">Quantity: 1 </small>
                                                        <strong class="d-block text-sm">$75.00 </strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- cart item-->
                                        <div class="navbar-cart-product">
                                            <div class="d-flex align-items-center">
                                                <a href="detail.html">
                                                    <img
                                                    class="img-fluid navbar-cart-product-image"
                                                    th:src="@{/web/assets/img/product/product-square-kyle-loftus-596319-unsplash.jpg}"
                                                    alt="...">
                                                </a>
                                                <div class="w-100">
                                                    <a class="navbar-cart-product-close" href="#">
                                                        <i class="fa fa-times"> </i>
                                                    </a>
                                                    <div class="ps-3">
                                                        <a class="navbar-cart-product-link" href="detail.html">Transparent Blouse</a>
                                                        <small class="d-block text-muted">Quantity: 1 </small>
                                                        <strong class="d-block text-sm">$75.00 </strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- cart item-->
                                        <div class="navbar-cart-product">
                                            <div class="d-flex align-items-center">
                                                <a href="detail.html">
                                                    <img class="img-fluid navbar-cart-product-image"
                                                    th:src="@{/web/assets/img/product/product-square-serrah-galos-494312-unsplash.jpg}"
                                                    alt="...">
                                                </a>
                                                <div class="w-100">
                                                    <a class="navbar-cart-product-close" href="#">
                                                        <i class="fa fa-times"> </i>
                                                    </a>
                                                    <div class="ps-3">
                                                        <a class="navbar-cart-product-link" href="detail.html">White Tee</a>
                                                        <small class="d-block text-muted">Quantity: 1 </small>
                                                        <strong class="d-block text-sm">$75.00 </strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- total price-->
                                    <div class="navbar-cart-total">
                                        <span class="text-uppercase text-muted">Total</span>
                                        <strong class="text-uppercase">$75.00</strong>
                                    </div>
                                    <!-- buttons-->
                                    <div class="d-flex justify-content-between">
                                        <a class="btn btn-link text-dark me-3" href="cart.html">View Cart
                                            <i class="fa-arrow-right fa"></i>
                                        </a>
                                        <a class="btn btn-outline-dark" href="checkout1.html">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- /Navbar -->
        <!-- Fullscreen search area-->
        <div class="search-area-wrapper">
            <div class="search-area d-flex align-items-center justify-content-center">
                <div class="close-btn">
                    <svg class="svg-icon svg-icon-light w-3rem h-3rem">
                        <use xlink:href="#close-1"> </use>
                    </svg>
                </div>
                <form class="search-area-form" action="#">
                    <div class="mb-4 position-relative">
                        <button class="search-area-button" type="submit">
                            <svg class="svg-icon">
                                <use xlink:href="#search-1"> </use>
                            </svg>
                        </button>
                        <input class="search-area-input" type="text" name="search" id="search"
                               placeholder="What are you looking for?">
                    </div>
                </form>
            </div>
        </div>
        <!-- /Fullscreen search area-->
    </header>
</th:block>