<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menu">
    <div class="row p-3 pe-lg-0 ps-lg-5 pt-lg-5">
        <div class="col-lg-3">
            <!-- Megamenu list-->
            <h6 class="text-uppercase">Categories</h6>
            <ul class="megamenu-list list-unstyled">
                <li class="megamenu-list-item">
                    <a class="megamenu-list-link" 
                        th:href="@{/mike/collection/shop/all}">Shop All
                    </a>
                </li>
                <li class="megamenu-list-item" 
                    th:each="menuPC : ${menuPCs}">
                    <a class="megamenu-list-link" 
                        th:href="@{'/mike/collection/shop/shop-cate/pc-' + ${menuPC.id} + '-' + ${menuPC.name}}" 
                        th:text="${menuPC.name}">
                    </a>
                </li>
                <!--<li class="megamenu-list-item">
                    <a class="megamenu-list-link" href="category-masonry.html">Footwear
                        <span class="badge bg-warning ms-1">New</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <div class="col-lg-3">
            <!-- Megamenu list-->
            <h6 class="text-uppercase">Objects</h6>
            <ul class="megamenu-list list-unstyled">
                <li class="megamenu-list-item" 
                th:each="menuOC : ${menuOCs}">
                <a class="megamenu-list-link" 
                    th:href="@{'/mike/collection/shop/shop-cate/oc-' + ${menuOC.id} + '-' + ${menuOC.name}}" 
                    th:text="${menuOC.name}">
                </a>
            </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <!-- Megamenu list-->
            <h6 class="text-uppercase">Prices</h6>
            <ul class="megamenu-list list-unstyled">
                <li class="megamenu-list-item">
                    <a class="megamenu-list-link" href="/mike/collection/shop/shop-cate/mip-0-map-500000">0 - 500.000</a>
                </li>
                <li class="megamenu-list-item">
                    <a class="megamenu-list-link" href="/mike/collection/shop/shop-cate/mip-500000-map-1000000">500.000 - 1.000.000</a>
                </li>
                <li class="megamenu-list-item">
                    <a class="megamenu-list-link" href="/mike/collection/shop/shop-cate/mip-1000000-map">&gt; 1.000.000</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <!-- Megamenu list-->
            <h6 class="text-uppercase">Sales</h6>
            <ul class="megamenu-list list-unstyled">
                <li class="megamenu-list-item">
                    <a class="megamenu-list-link" href="cart.html">5%</a>
                </li>
                <li class="megamenu-list-item">
                    <a class="megamenu-list-link" href="cart.html">10%</a>
                </li>
                <li class="megamenu-list-item">
                    <a class="megamenu-list-link" href="cart.html">20%</a>
                </li>
                <li class="megamenu-list-item">
                    <a class="megamenu-list-link" href="cart.html">40%</a>
                </li>
                <li class="megamenu-list-item">
                    <a class="megamenu-list-link" href="cart.html">50%</a>
                </li>
            </ul>
        </div>
    </div>
</th:block>